# Binaries
code-web
*.exe
*.exe~
*.dll
*.so
*.dylib

# Logs
*.log
server.log

# Runtime data
data/log/*
data/uploads/*
!data/uploads/.gitkeep


# OS / editor
.DS_Store
.idea/
.vscode/

/data/uploads/*
/data/sessions/*
